/***** Init own variables sass for bootstrap-5.0.2 *****/
$primary: #0074d9
$danger: #ff4136
/***** End Section *****/

@import "../UI/bootstrap-5.0.2/scss/bootstrap.scss"
@import "../UI/fontawesome-free-5.15.4-web/css/all.min.css"

$background_path: "../media/pokedex.png"

body.background
    background: url($background_path) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.btn-floating
    position: fixed
    bottom: 10px
    right: 10px
    z-index: 100
